@model SMS.Models.Student
@{

}
<div class="container">
    <form asp-controller="Student" asp-action="CreateOrEdit"method="post">
        <div class="row">
            <div class="col-12">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
            </div>

             <div class="col-12">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
            </div>

             <div class="col-12">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control"/>
            </div>

            <div class="col-12">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>

            <div class="col-12 py-3">
                <input type="Submit" class="btn btn-primary" />
            </div>
     
        </div>
    </form>

</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}